@import '../../assets/colors.scss';
@import '../../assets/sizes.scss';
@import '../../assets/fonts.scss';

.servers-container {
    width: 44%;
    padding: 10px;
    display: flex;
    flex-direction: column;

    h3 {
        width: 100%;
        color: #ffffff;
        font-size: 20px;
        font-weight: 400;
        text-transform: uppercase;
        font-family: $font-Teko;
        margin: 5px 0;
        display: flex;

        div:first-child {
            width: 26px;
            height: 25px;
            margin: 0 5px;
        }
    }

    .servers-section {
        width: 100%;
        height: 100%;
        padding: 0;
        margin: 0;
        overflow-x: scroll;
        list-style: none;
        display: flex;

        > li {
            margin: 0 5px;
        }

        @media screen and (max-width: $widget--width) {
            height: 300px;
            display: grid;
            grid-template-columns: auto auto;
            grid-row-gap: 10px;
        }
    }

    // HORIZONTAL SCROLL CONFIG.
    ::-webkit-scrollbar {
        height: $scrollbar--width-normal;
        border-radius: $scrollbar--width-normal/2;
        cursor: pointer;
    }

    ::-webkit-scrollbar-thumb {
        background-color: rgba(255, 255, 255, 0.44);

        &:hover {
            background-color: #ffffff;
        }
    }

    ::-webkit-scrollbar-track {
        background-color: rgba(255, 255, 255, 0.1);
    }

    @media screen and (max-width: $widget--width) {
        width: 95%;
        overflow-x: hidden;
    }
}