

// GLOBAL
$widget--width: 1172px;
$widget--height-min: 370px;

// TOPBAR FROM WIDGET
$topbar--height-normal: 93px;

// BOTTOMBAR FROM WIDGET
$bottombar--height-normal: 53px;

// BIGBUTTON COMPONENT
$bigButton--width-min: 284px;
$bigButton--width-normal: 100%;
$bigButton--height-normal: 40px;
$bigButton--fontsize-normal: 18px;

// SCROLLBAR CONFIG.
$scrollbar--width-normal: 8px;