@import '../../assets/colors.scss';
@import '../../assets/sizes.scss';
@import '../../assets/fonts.scss';

.server-box {
	width: 164px;
	height: 151px;
	background-image: linear-gradient(229deg, rgba(39, 41, 64, 0.54) 0%, rgba(39, 41, 64, 0.91) 100%);
	background-image: url('../../assets/images/serverbox_background.png');
	box-shadow: 0 8px 16px -4px rgba(0, 0, 0, 0.5);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	font-family: $font-Poppins;

	display: flex;
	flex-direction: column;
	justify-content: space-between;

	.server-links {
		padding: 10px 5px;
	}

	.server-info {
		color: #fff;
		font-size: 12px;
		// padding-top: 15px;
		padding-left: 10px;

		> P {
			margin: 0;
		}

		p:first-child {
			font-weight: 500;
		}

		p:nth-child(2) {
			font-weight: 700;
		}
	}

	.server-bar {
		padding: 10px 5px;
	}
}